@model IEnumerable<Bookstore.Models.Books>

@{
    ViewBag.Title = "Index";
}

<body>
    <h1>Catalogue</h1>
    <button type="submit" class="btn-success btn-lg">@Html.ActionLink("Create New Book", "Create")</button>
    <table class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr class="bg-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item._id }, new { @class = "btn btn-success " })
                    @Html.ActionLink("Edit", "Edit", new { id = item._id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item._id }, new { @class = "btn btn-danger " })
                </td>
            </tr>
        }

    </table>
</body>